body {
    background-color: #800000;
  }
  
  h1 {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 20pt;
    font-family: "Gill Sans", sans-serif;
  }

  header {
    color: #800000;
    background-color: #fff;
    margin: 0 auto;
    font-size: 32pt;
  }

  #minimage{
    margin:0 auto;
    width: 50px;
  }

  p a {
    color: #947878;
  }

  p h3 {
    color: #121336;
  }

  image {
    float:left;
    width: 20%;
  }

  span {
    color:#000000;
    font-size: 15pt;
  }


  nav {
    padding: 20px;
    text-align: center;
  width: 80%;
  margin: 0 auto;
  }

  .navlink{
    padding: 18px;
    color: #008080;
    font-size: 15pt;
  }


  h2 {
    color: #ffffff;
    font-size: 18pt;
    font-family: "Gill Sans", sans-serif;
  }
  
  p {
    font-size: 16pt;
    font-family: "Gill Sans", sans-serif;
    background-color: #ffffff;
    width: 80%;
    float: left;
    border-style: solid;
    border-radius: 5%;
    padding: 10%;
  }

  .textbox {
    background-color: #ffffff;
    color: #999999;
    padding: 10px;

  }
  .border {
    border-style: solid;
    border-width: medium;
  }
  a {
    color: #b1ddfb;
  }
  a:hover {
    color:  #fa8072;
  }

  a:active {
    color: #454B1B;
  }